.double {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.double img {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: unset;
}

.double ul {
  width: 100%;
}
